.dropdown-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0;
  border-style: solid;
  border-top-width: 0.125rem;
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
  border-bottom-width: 0.25rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  max-height: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: max-height 300ms ease;
  list-style: none;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

.dropdown-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}