.dropdown-item {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  border-bottom: 0.25rem solid white;
  box-sizing: border-box;
  cursor: pointer;
  border-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease
}