.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
}

.title-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 75px;
  padding-bottom: 70px;
  color: white;
}

.top-header {
  border-bottom: 3px solid #a1a1a1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  font-size: 30px;
  font-family: monospace;
  color: rgb(84, 215, 255);
  cursor: pointer;
}

.button-row {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.github-logo {
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */